<!-- src\views\500.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500</title>
</head>

<body>
  <link rel="stylesheet" href="/Css/500.css" />
  <div>
    <span class="error-num">5</span>
    <div class="eye"></div>
    <div class="eye"></div>
    <p class="sub-text">Oh eyeballs! Something went wrong. We're
      <i>looking</i>
      to see what happened.
    </p>
    <a href="/">Go back</a>
  </div>

  <script src="/Js/500.js"></script>
</body>

</html>